.carousel .yui3-scrollview {
    height: 100%;
}

.carousel.carousel-swipe .yui3-scrollview {
    white-space: nowrap;
}

.carousel.carousel-swipe .carousel-item {
    display: inline-block;
    float: none;
    position: static;
}