.aui-hsva-view-container {
	height: 260px;
	padding: 5px;	
	width: 400px;
}

.aui-hsva-container-controls .aui-hsva-view-container {
	width: 490px;
}

.aui-hsva-container-alpha .aui-hsva-view-container {
	width: 440px;
}

.aui-hsva-container-controls.aui-hsva-container-alpha .aui-hsva-view-container {
	width: 520px;
}

.aui-hsva-view-container .aui-control-group {
	margin-bottom: 0;
}

.aui-hsva-hs-container, .aui-hsva-image-backdrop {
	height: 256px;
	position: absolute;
	width: 256px;
}

.aui-hsva-hs-thumb {
	height: 11px;
	position: absolute;
	width: 11px;
}

.aui-hsva-value-slider-container, .aui-hsva-alpha-slider-container {
	height: 256px;
	position: absolute;
	width: 19px;
}

.aui-hsva-value-slider-container {
	left: 280px;
}

.aui-hsva-alpha-slider-container {
	left: 320px;
}

.aui-hsva-value-canvas, .aui-hsva-alpha-canvas {
	display: inline-block;
	height: 256px;
	position: relative;
	width: 19px;
}

.aui-hsva-value-thumb, .aui-hsva-alpha-thumb {
	cursor: default;
	height: 7px;
	position: absolute;
	width: 18px;
}

.aui-hsva-value-image, .aui-hsva-alpha-image {
	display: block;
	height: 11px;
	margin-left: -7px;
	margin-top: -6px;
	width: 32px;
}

.aui-hsva-result-view, .aui-hsva-view-backdrop {
	height: 65px;
	left: 320px;
	position: absolute;
	width: 65px;
}

.aui-hsva-container-alpha .aui-hsva-result-view, .aui-hsva-container-alpha .aui-hsva-view-backdrop {
	left: 360px;
}

.aui-hsva-label {
	display: inline;
	margin-right: 5px;
}

.aui-hsva-label-value-container {
	position: absolute;
	top: 90px;
}

.aui-hsva-label-value-container .controls {
	display: inline;
}

.aui-hsva-label-value-hsv-container {
	left: 320px;
}

.aui-hsva-container-alpha .aui-hsva-label-value-hsv-container {
	left: 360px;
}

.aui-hsva-label-value-rgb-container {
	left: 410px;
}

.aui-hsva-container-alpha .aui-hsva-label-value-rgb-container {
	left: 450px;
}

.aui-hsva-label-value-hex-container {
	left: 310px;
	top: 70px;
}

.aui-hsva-container-alpha .aui-hsva-label-value-hex-container {
	left: 350px;
	top: 70px;
}

.aui-hsva-container-controls .aui-hsva-label-value-hex-container {
	left: 400px;
	top: 0;
}

.aui-hsva-container-controls.aui-hsva-container-alpha .aui-hsva-label-value-hex-container {
	left: 430px;
}

.aui-hsva-label-value-h, .aui-hsva-label-value-s, .aui-hsva-label-value-v,
.aui-hsva-label-value-r, .aui-hsva-label-value-g, .aui-hsva-label-value-b,
.aui-hsva-label-value-a {
	margin-top: 2px;
}

.aui-hsva-label-value-hex {
	position: absolute;
	top: 10px;
	left: 10px;
}

.aui-hsva-label-value-container .aui-hsva-label-value-hex .aui-hsva-label {
	display: block;
}

.aui-hsva-label-value-container .aui-hsva-label-value-hex .aui-hsva-value {
	width: 50px;
}

.aui-hsva-container-alpha .aui-hsva-label-value-container .aui-hsva-label-value-hex .aui-hsva-value {
	width: 70px;
}

.aui-hsva-label-value-container .aui-hsva-value {
	margin-right: 2px;
	width: 30px;
}